.App {
  text-align: center;
  background-color: white;
}

.repo-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.avatar {
  align-self: center;
  border-radius: 100px;
}

.repo-card {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px gainsboro;
}
.repo-card-inverted {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 5px 5px gainsboro;
}

.text-input {
  width: 400px;
  height: 35px;
  padding-left: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.button {
  height: 50px;
  border-radius: 5px;
  border-style: none;
  font-weight: 700;
  background-color: aquamarine;
  color: black;
  font-size: 18px;
}
.button-disabled {
  background-color: gray;
  color: white;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
